@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

.App {
  text-align: center;
  margin-top: 20px;
  font-family:'Fredoka One', sans-serif;
}

.cell-right{
  float: left;
  margin: 0 auto;
}
.buttons-center{
  margin: 0 auto;
  text-align: center;
}
.div-center{
  margin-left: 50px;
}
.displaycells{  
  margin-left: 150px;
}

.empty-cell{
  height: 10px;
  width: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #618c4a;
}

.filled-cell{
    background-color: #ffa100;
}
.center_text{
text-align: center;
}

.top-spacing{
  margin-top: 20px;
}

.about-text{
  font-size: 20px;
}
