.App {
  text-align: center;
  margin-top: 20px;
}

.cell-right{
  float: left;
  margin: 0 auto;
}

.div-center{
  margin-left: 50px;
}
.displaycells{  
  margin-left: 150px;
}

.empty-cell{
    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
}

.filled-cell{
    background-color: blue;
}
.center_text{
text-align: center;
}

.top-spacing{
  margin-top: 20px;
}