.App {
  text-align: center;
  margin-top: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.displaycells{  
   padding-top:20px;
   padding-right:200px;
   padding-left:200px;
}

.empty-cell{
    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
}

.filled-cell{
    background-color: blue;
}
.gencount{
text-align: center;
}
